extends ../layout


mixin drawResultGrid(grid)
  table.result-grid
    - var col_len = grid[0].length
    - var row_len = grid.length
    tr
      td.lead-cell
      each col, colIdx in grid[0]
        td.lead-cell=colIdx
    each row, rowIdx in grid
      tr
        td.lead-cell=rowIdx
        each cell in row
          td=(cell === 0 ? '' : (cell === 1 ? 'o' : 'x'))

block content
  h1 Play executed

  if (results && results.resultGrids)
    h2 Result grids
    each grid, gridIdx in results.resultGrids
      h3=`Grid for game result #${gridIdx}:`
      +drawResultGrid(grid)