body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.result-grid td.lead-cell {
  color: #ccc;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

.result-grid {
  /*border: 1px solid #bbb;*/
  border-collapse: collapse;
}

.result-grid td {
  border: 1px solid #bbb;
  height: 15px;
  width: 15px;
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
}