body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.result-grid td.lead-cell {
  color: #ccc;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

.result-grid {
  /*border: 1px solid #bbb;*/
  border-collapse: collapse;
}

.grid-interactive .play-field-0:hover {
  background-color: green;
  cursor: pointer;
}


.result-grid td {
  border: 1px solid #bbb;
  height: 15px;
  width: 15px;
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
}

.result-legend {
  width: 100%;
  border-collapse: collapse;
}

.result-legend td {
  width: 33%;
  height: auto;
}
