extends ../layout

block content
  include ./mixins
  h1 #{message}
  pre #{game.id}
  +drawResultGrid(game, true)
  pre #{JSON.stringify(options, null, 4)}

  script.
    console.log('hi')
    document.querySelectorAll(".play-field-0")
      .forEach(
        e => {
          console.log('adding listener on', e)
          e.addEventListener(
            'click', (event) => console.log('clicked', {
              x: event.target.attributes['data-x'].nodeValue,
              y: event.target.attributes['data-y'].nodeValue,
            })
          )
        })
