extends ../layout

block content
  include ./mixins
  h1 Play executed

  if (results && results.resultSets)
    h2 Result grids
    each resultSet, resultSetIdx in results.resultSets
      h3=`Grid for game result #${resultSetIdx}:`
      +drawResultGrid(resultSet)